*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  transform: scale(0.9);
  overflow: hidden;
}


input,
button {
  font: inherit;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
}

/* Theme 1 */
:root {
  --bg-main: hsl(222, 26%, 31%);
  --bg-toggle: hsl(223, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);
  --bg-result: hsla(91, 18%, 27%, 0.734);
  --bg-tooltip: hsl(240, 13.73%, 10%);
  --key-toggle-equal: hsl(6, 63%, 50%);
  --key-toggle-equal-hover: hsl(7, 64%, 57%);
  --key-toggle-equal-shadow: hsl(6, 70%, 34%);
  --key-reset-delete: hsl(225, 21%, 49%);
  --key-reset-delete-hover: hsl(225, 23%, 60%);
  --key-reset-delete-shadow: hsl(224, 28%, 35%);
  --key-num-operator: hsl(30, 25%, 89%);
  --key-num-operator-hover: hsl(0, 0%, 100%);
  --key-num-operator-shadow: hsl(28, 16%, 65%);
  --text-white: hsl(0, 0%, 100%);
  --text-body: hsl(0, 0%, 100%);
  --text-num: hsl(221, 14%, 31%);
  --text-tooltip: hsl(224, 36%, 15%);
}

/* Theme 2 */
:root.theme2 {
  --bg-main: hsl(0, 0%, 87%);
  --bg-toggle: hsl(0, 5%, 81%);
  --bg-screen: hsl(0, 0%, 93%);
  --bg-result: hsla(91, 18%, 27%, 0.734);
  --bg-tooltip: hsl(240, 13.73%, 10%);
  --key-toggle-equal: hsl(25, 98%, 40%);
  --key-toggle-equal-hover: hsl(25, 100%, 60%);
  --key-toggle-equal-shadow: hsl(25, 99%, 27%);
  --key-reset-delete: hsl(185, 42%, 37%);
  --key-reset-delete-hover: hsl(185, 41%, 56%);
  --key-reset-delete-shadow: hsl(185, 58%, 25%);
  --key-num-operator: hsl(45, 7%, 89%);
  --key-num-operator-hover: hsl(0, 0%, 100%);
  --key-num-operator-shadow: hsl(35, 11%, 61%);
  --text-body: hsl(60, 10%, 19%);
  --text-num: hsl(60, 10%, 19%);
}

/* Theme 3 */
:root.theme3 {
  --bg-main: hsl(268, 75%, 9%);
  --bg-toggle: hsl(268, 71%, 12%);
  --bg-screen: hsl(268, 71%, 12%);
  --bg-result: hsla(91, 18%, 27%, 0.734);
  --bg-tooltip: hsl(240, 13.73%, 10%);
  --key-toggle-equal: hsl(176, 100%, 44%);
  --key-toggle-equal-hover: hsl(176, 42%, 49%);
  --key-toggle-equal-shadow: hsl(177, 92%, 70%);
  --key-reset-delete: hsl(281, 89%, 26%);
  --key-reset-delete-hover: hsl(280, 56%, 44%);
  --key-reset-delete-shadow: hsl(285, 91%, 52%);
  --key-num-operator: hsl(268, 47%, 21%);
  --key-num-operator-hover: hsl(267, 54%, 44%);
  --key-num-operator-shadow: hsl(290, 70%, 36%);
  --text-body: hsl(52, 100%, 62%);
  --text-num: hsl(52, 100%, 62%);
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 32px;
  background: var(--bg-main);
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.164);
        background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent), linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
        background-size: 55px 55px;
}

.calculator {
  width: 100%;
  max-width: 588px;
  padding: 24px;
  margin-top: -0.3em;
  border-radius: 0.3em;
  background-color: var(--bg-main);
  transition: background 0.2s ease-in-out;
}

.calc-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 32px;
}

.logo {
  letter-spacing: 0.1em;
  font-family: "Orbitron", sans-serif;
}

.theme-toggle {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: end;
}

.theme-number {
  display: flex;
  gap: 16px;
  padding: 0 6px;
}

.theme-number span {
  font-size: 16px;
}

.theme-container {
  display: flex;
  gap: 28px;
  align-items: center;
  padding-left: 0.5em;
}

.theme-container span {
  font-size: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.theme-options {
  display: flex;
  gap: 4px;
  padding: 4px;
  width: 70px;
  border-radius: 12px;
  background: var(--bg-toggle);
  transition: background 0.2s ease-in-out;
}

.theme-btn {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: var(--key-toggle-equal);
  transition: transform 0.4s ease-in-out, background 0.3s ease-in-out;
}

.theme-btn:hover {
  background: var(--key-toggle-equal-hover);
}

.display {
  background: var(--bg-screen);
  border-radius: 12px;
  padding: 32px 32px 32px;
  margin-bottom: 24px;
  transition: background 0.2s ease-in-out;
  display: flex;
}

.result {
  background: var(--bg-result);
  border-radius: 7px;
  color: var(--text-body);
  text-align: right;
  font-size: 56px;
  letter-spacing: 0.05em;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  padding-right: 0.2em;
  cursor: auto;
  font-family: 'Digital', sans-serif;                                   
}

.font-size {
  color: var(--text-white);
  transform: translateX(0.5em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4em;
}

.font-size .font-btn{
  color: var(--text-white);
  padding: 0.1em;
  border-radius: 50em;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.font-size .font-btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--key-reset-delete-shadow);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

.font-size .increase-btn{
  background: var(--key-reset-delete);
  color: var(--text-white);
  box-shadow: 0px 5px 0px 0px var(--key-reset-delete-shadow);
}

.font-size .increase-btn:hover {
  background: var(--key-reset-delete-hover);
}

.font-size span {
  font-size: 0.7em;
  font-weight: bold;
}

.font-size .decrease-btn{
  background: var(--key-toggle-equal);
  color: var(--text-white);
  box-shadow: 0px 5px 0px 0px var(--key-toggle-equal-shadow);
}

.font-size .decrease-btn:hover {
  background: var(--key-toggle-equal-hover);
}

/* ------------------- */

.logo-tooltip {
  display: flex;
  gap: 0.2em;
}

.creator-tooltip {
  position: relative;
  cursor: pointer;
  font-weight: normal;
}

.creator-tooltip:hover .creator-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.creator-tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: var(--bg-tooltip);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.5em;
}

.creator-tooltiptext::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--bg-tooltip) transparent;
}

.creator-tooltip .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: var(--text-body);
  border: 1.6px solid var(--text-body);
  border-radius: 50%;
  text-align: center;
  padding-top: 1px;
  font-size: 0.5em;
  font-weight: bold;
}

/* ------------------- */

.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: var(--bg-tooltip);
  color: var(--text-white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.5em;
  font-weight: normal; 
  position: absolute;
  z-index: 1;
  top: 0.4em;
  left: 120%;
  opacity: 0;
  transition: 0.4s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 99%;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--bg-tooltip) transparent transparent;
}

.keypad-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 28px 24px;
  background: var(--bg-toggle);
  border-radius: 12px;
  padding: 32px;
  transition: background 0.2s ease-in-out;
}

.keypad {
  display: flex;
  gap: 24px;
}

.keypad-container button {
  border-radius: 10px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.num-btn,
.operator-btn {
  width: 100%;
  padding: 10px 0;
  background: var(--key-num-operator);
  font-size: 40px;
  letter-spacing: -0.02em;
  color: var(--text-num);
  box-shadow: 0px 5px 0px 0px var(--key-num-operator-shadow);
}

.num-btn:hover,
.operator-btn:hover {
  background: var(--key-num-operator-hover);
}

.reset-btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.equal-btn {
  grid-column-start: 3;
  grid-column-end: 5;
  font-size: 40px;
  background: var(--key-toggle-equal);
  color: var(--text-white);
  box-shadow: 0px 5px 0px 0px var(--key-toggle-equal-shadow);
}

.equal-btn:hover {
  background: var(--key-toggle-equal-hover);
}

.reset-btn,
.delete-btn {
  font-size: 28px;
  background: var(--key-reset-delete);
  color: var(--text-white);
  box-shadow: 0px 5px 0px 0px var(--key-reset-delete-shadow);
}

.keypad-container button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--key-reset-delete-shadow);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

.reset-btn:hover,
.delete-btn:hover {
  background: var(--key-reset-delete-hover);
}

@media only screen and (max-width: 480px) {
  .display {
    padding: 24px;
  }

  .result {
    font-size: 40px;
  }

  .keypad-container {
    gap: 16px 12px;
  }

  .num-btn,
  .equal-btn {
    font-size: 32px;
    padding: 14px 0;
  }

  .reset-btn,
  .delete-btn {
    font-size: 20px;
  }
}

@media (max-width: 740px) {

  .tooltip .tooltiptext {
    display: none;
  }

}

